

{% block head %}
<title>{{ title }}</title>
{% endblock %}

{% block content %}

      {% if auto == false %}
        {{ content | safe}}
      {% else -%}
      <section id="toc">
   <h1>{{title}}</h1>
   <nav epub:type="toc">
      <ol>
        {# use the reading order, if specified #}
        {% if pub.readingOrder -%}
          {% for item in pub.readingOrder -%}
            {% for page in collections.pages -%}
              {% if page.fileSlug == item -%}
                <li><a href="{{EPUBRoot}}{{page.url}}index.xhtml">{{page.data.title}}</a></li>
              {%- endif %}
            {%- endfor %}
          {%- endfor %}
        {% else -%}
          {% for page in collections.pages -%}
            <li><a href="{{EPUBRoot}}{{page.url}}index.xhtml">{{page.data.title}}</a></li>
          {%- endfor %}
        {%- endif %}
      </ol>
         </nav>
</section>
      {%- endif %}


{% endblock %}
