public/
resources/
node_modules/
.hugo_build.lock
W/
.vscode/

epub-doc/en/extra/*
epub-doc/en/lib/*
epub-doc/en/node_modules/*
epub-doc/en/src
epub-doc/en/.eleventy.js
epub-doc/en/.gitattributes
epub-doc/en/.gitignore
epub-doc/en/.stylelintrc
epub-doc/en/gulpfile.js
epub-doc/en/LICENSE
epub-doc/en/package-lock.json
epub-doc/en/package.json
epub-doc/en/postbuild.js
epub-doc/en/prebuild.js
epub-doc/en/README.md
epub-doc/en/rename.js
epub-doc/en/utils.js
epub-doc/en/watch.json

epub-doc/fr/extra/*
epub-doc/fr/lib/*
epub-doc/fr/node_modules/*
epub-doc/fr/src
epub-doc/fr/.eleventy.js
epub-doc/fr/.gitattributes
epub-doc/fr/.gitignore
epub-doc/fr/.stylelintrc
epub-doc/fr/gulpfile.js
epub-doc/fr/LICENSE
epub-doc/fr/package-lock.json
epub-doc/fr/package.json
epub-doc/fr/postbuild.js
epub-doc/fr/prebuild.js
epub-doc/fr/README.md
epub-doc/fr/rename.js
epub-doc/fr/utils.js
epub-doc/fr/watch.json
