public/
resources/
node_modules/
.hugo_build.lock
W/
.vscode/
epub-doc/fr/.eleventy.js
epub-doc/fr/.stylelintrc
epub-doc/fr/eleventypub-demo.epub
epub-doc/fr/extra/container.xml
epub-doc/fr/extra/mimetype
epub-doc/fr/gulpfile.js
epub-doc/fr/icons/*
epub-doc/fr/lib/*
epub-doc/fr/LICENSE
epub-doc/fr/package-lock.json
epub-doc/fr/package.json
epub-doc/fr/postbuild.js
epub-doc/fr/prebuild.js
epub-doc/fr/README.md
epub-doc/fr/rename.js
epub-doc/fr/src/_includes/*
epub-doc/fr/utils.js
epub-doc/fr/watch.json

epub-doc/en/.eleventy.js
epub-doc/en/.stylelintrc
epub-doc/en/eleventypub-demo.epub
epub-doc/en/extra/container.xml
epub-doc/en/extra/mimetype
epub-doc/en/gulpfile.js
epub-doc/en/icons/*
epub-doc/en/lib/*
epub-doc/en/LICENSE
epub-doc/en/package-lock.json
epub-doc/en/package.json
epub-doc/en/postbuild.js
epub-doc/en/prebuild.js
epub-doc/en/README.md
epub-doc/en/rename.js
epub-doc/en/src/_includes/*
epub-doc/en/utils.js
epub-doc/en/watch.json