+++
title = "Thorium Reader"
linkTitle = "ThoriumReader"
+++

{{< blocks/cover title="Thorium Reader" image_anchor="top" height="auto" color="orange" >}}

<div class="mx-auto">
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="{{< relref "/docs" >}}">
		Découvrir <i class="fas fa-arrow-alt-circle-right ml-2"></i>
	</a>
	<a class="btn btn-lg btn-secondary mr-3 mb-4" href="#download">
		Télécharger <i class="fab fa-github ml-2 "></i>
	</a>
	<p class="lead mt-5"><b>L'experience de lecture	</b></p>
	{{< blocks/link-down color="info" >}}
</div>
{{< /blocks/cover >}}


{{% blocks/lead color="primary" %}}

<div class="kleo_text_column wpb_text_column wpb_content_element gray">
</p><strong>Thorium Reader est le lecteur EPUB de référence pour Windows, MacOS et Linux.</strong></p><p>Cette application EDRLab est en constante évolution et constitue la référence pour accéder aux publications numériques EPUB 3 adaptable ou à mise en page fixe, aux livres audio et récits visuels, aux documents PDF et aux ebooks DAISY ; protégés LCP ou non.</p> 
<p>Il est localisé dans un grand nombre de langues, chaque version offrant de nouvelles localisations.</p> 
<p>Des efforts considérables sont également faits pour que Thorium Reader soit hautement accessible aux personnes aveugles, malvoyantes ou dyslexiques.</p> 
<p>Cette application est gratuite, sans publicité et ne collecte pas de données privées.
C'est l'outil idéal pour les gros lecteurs, les usagers des bibliothèques et les étudiants.</p> 
</div>

{{% /blocks/lead %}}

{{< blocks/section color="dark" >}}
{{% blocks/feature icon="fa-download" title="Télécharger"  %}}
<div align="left" id="download">
La dernière version de Thorium Reader est la 2.2.0, publiée en décembre 2022.

* <a class="orange" href="https://bit.ly/thoriumreader-en">Version Windows 11 sur le Windows Store</a>.
* <a class="orange" href="https://github.com/edrlab/thorium-reader/releases/download/v2.2.0/Thorium.Setup.2.2.0.exe">Version Windows</a> sur la plateforme Github.
* <a class="orange" href="https://github.com/edrlab/thorium-reader/releases/download/v2.2.0/Thorium-2.2.0.dmg">Version Mac OS</a> sur la plateforme Github.
* <a class="orange" href="https://github.com/edrlab/thorium-reader/releases/download/v2.2.0/Thorium-2.2.0.AppImage">Linux (.AppImage)</a> sur la plateforme Github, compatible avec de nombreuses distributions dont Ubuntu 20.04 et plus récentes (merci de nous dire sur lesquelles il fonctionne parfaitement ou non).
* <a class="orange" href="https://github.com/edrlab/thorium-reader/releases/download/v2.2.0/EDRLab.ThoriumReader_2.2.0_amd64.deb">Linux (.deb) version</a> sur la plateforme Github, compatible avec les distributions de type Debian, y compris Ubuntu 20.04 et plus récentes (nécessite GLIBC 2.28+).
</div>

{{% /blocks/feature %}}


{{% blocks/feature icon="fa-solid fa-clipboard" title="Nouvelles fonctionnalités (2.2)" url="https://github.com/edrlab/thorium-reader/releases/tag/v2.2.0" %}}

<div align="left">


* Affichage des métadonnées d'accessibilité.
* Historique de navigation avec les boutons Précédent/Avant.
* Raccourcis clavier pour le zoom sur EPUB Fixed-Layout.
* Pages centrées sur EPUB Fixed-Layout.
* Prise en charge de l'accessibilité MathML via MathJax.
* Prise en charge du flux OPDS du serveur de contenu Calibre, avec authentification.
* Possibilité d'éditer le titre et l'URL d'un flux OPDS.
* Mise à jour des traductions : Anglais, chinois simplifié, chinois traditionnel, italien, japonais, lituanien, espagnol, suédois.

</div>

{{% /blocks/feature %}}


{{% blocks/feature icon="fa  fa-life-ring " title="Besoin d'aide ?"  %}}
<div align="left">
Nous tenons à jour une documentation qui devrait répondre à la plupart des besoins d'assistance. 
	
Si ce n'est pas le cas, vous pouvez vérifier s'il s'agit d'un problème documenté dans <a class="orange" href="https://github.com/edrlab/thorium-reader/issues" target="_blank" rel="noopener">le dépot de code source Thorium Reader (GitHub)</a>. Si vous ne parvenez toujours pas à résoudre le problème, veuillez ouvrir une **Issue** (nécessite un compte GitHub) afin que nous puissions l'aborder et suivre la solution.

Si vous ne pouvez pas ouvrir une **Issue** Github pour une raison quelconque, vous pouvez également envoyer un email à <em>thorium-support at edrlab.org </em>(@ remplacé pour éviter les spams), nous ferons de notre mieux pour vous répondre.

</div>
{{% /blocks/feature %}}
{{< /blocks/section >}}

{{< blocks/section class="txt-dark">}}

{{% blocks/feature icon="fab fa-github" title="Contributions bienvenues !" %}}

Nous recevons les contributions par **[Pull Request](https://github.com/edrlab/thorium-reader/pulls)**  sur **GitHub**. Les nouveaux utilisateurs sont toujours les bienvenus !

Pour les testeurs désireux de vérifier nos derniers développements, des versions de test mises à jour  automatiquement à chaque évolution de code peuvent être téléchargées à partir de la **<a href="https://github.com/edrlab/thorium-reader/releases">page de téléchargement de Thorium</a>**.


{{% /blocks/feature %}}

{{% blocks/feature  class="txt-dark" color="dark" icon="fa-user-secret" title="Conditions d'utilisation, Politique de confidentialité" %}}
Veuillez lire attentivement les conditions générales suivantes et les documents qui y sont incorporés par référence&nbsp;avant de commencer à utiliser l'application Thorium Reader.

**<a class="bouton-discover" href="documents/thorium-terms-of-use">Conditions générales d'utilisation</a>**<br>
**<a class="bouton-discover" href="documents/thorium-privacy-policy">Politique de confidentialité de l'application</a>**


{{% /blocks/feature %}}

{{% blocks/feature icon="fa fa-space-shuttle" title="Sponsorisez Thorium Reader!" %}}
Différentes organisations. Parmi celles-ci, les membres de l'EDRLab, des subventions privées ou publiques et de petits dons récurrents de la part d'utilisateurs heureux (particuliers ou entreprises).

**<a class="bouton-discover" href="https://github.com/sponsors/edrlab">Petit don récurrent via Github Sponsor</a>**<br>
**<a class="bouton-discover" href="https://www.edrlab.org/product/thorium-donation-1000-euros/">Don de 1000 € en une seule fois via Stripe</a>**
{{% /blocks/feature %}}

{{< /blocks/section >}}