
$color-dark-blue: #1A3C6C;
$color-orange: #EE8C3D;
$color-grey: #BAC4D3;
$color-purple: #6975CF; 
$color-extralight: #F4F8FD;


body {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
}

section {
    max-width: 1500px;
    margin: auto;
}

.td-outer {
    height: unset !important;
}


.excerpt{
    font-size: 1.8em;
    line-height: 1.6em;
}
.centered{
    text-align: center;
    line-height: 1.6em;
}
.max{
    max-width: 1000px;
    margin: auto;
}
.une{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
margin-bottom: 3em;
}

.doc{
    max-width: 1000px;
    margin: auto;
margin-top: 3em;
text-align: center;
}

.abstract{
    line-height: 1.2em;
    font-size: 1em;

}

.links{
    text-decoration: underline ;
}

.left{
    display: inline;
    float: left;
    margin-right: 1em;
}

.right{
    display: inline;
    float: right;
}

.orange{
    font-weight: 600;
    color: aliceblue;
}

footer.bg-dark {
    background: var(--success) !important;
}

.td-navbar {
    background: $color-dark-blue !important;
    height: 100px;
    padding: 0.5rem 5rem;
}

.td-content ul li, .td-content ol li {
      margin-top: 0.5rem;
      margin-left: 2rem;
  }

.td-content {
    h1 {
    font-weight: 500;
    }

    h2 {
        font-weight: 400;
    }
}

ul {
    padding-inline-start: 0;
}

@media (max-width: 768px) {
    .container {
        .lead,
        .mb-0 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .colonne33,
            .colonne50 {
                width: 100%;
                text-align: center;
            }
            .colonne66 {
                width: 100%;
            }
        }
    }
}

.sideright {
    height: 150px;
    > div {
        display: flex;
        justify-content: end;
        gap: 10px;
    }
}


.row{
    align-content: center;
}


// section{
//     margin: 0em ;
//     padding: 0em;
// }
hr{
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-top-color: #4b80ff;
    border-width: 1px;
}

.listnone{
    list-style-type: none;
}

.txt-blck{
    color: #222;
}

.colonne50 {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 20px;
    text-align: left;
  }

.colonne33 {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: right;
    margin-right: 1em;
  }
.colonne66 {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-left: 1em;
    text-align: left;
}

.documents{
    padding-top: 6em;
}

kbd {
    color: #000 ! important;
    background-color: #f5f5f5 ! important;
    padding: 1px 2px;
    border: 1px solid #000;
    border-radius: 5px;
}


.wp-image-10520{
    float: left;
    margin-right: 1em;
}

.txt-dark{
   color: black ;
}

@media (min-width: 768px){
.td-navbar-cover {
    background: $color-grey !important;
}
}

.orangelink{
    color: orange !important;
}

.gray{
    color: $gray;
}

.td-navbar .nav-link {
    font-weight: 500;
}


// HOME //

.hero {
    padding-left: 100px !important;
    margin-top: 50px;
}

.heroIllustration {
    max-width: 40dvw;
    position: absolute;
    top: 0;
    right: 50px;
}

.indexHeading {
    padding: 40px;
    color: $color-dark-blue;
    background-color: $color-extralight;
    border-radius: 20px;
    position: relative;
    width: fit-content;

    .freeLabelIcon {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 0;
        left: 0;
    }
    .freeLabelText {
        position: absolute;
        transform: translate(-50%, -50%) rotate(-20deg);
        top: 3px;
        left: 3px;
        font-size: 10px;
        text-align: center;
        color: white;
    }

    h1 {
        font-weight: 400;
        font-size: 24px;
        width: fit-content;
    }

    h2 {
        font-size: 20px;
        font-weight: 300;
        width: fit-content;

    }
}

.downloadPanel {
    margin-top: 70px;

    &_title {
        display: flex;
        align-items: center;
        gap: 20px;
        margin: 20px 0;
        img {
            height: 50px;
            width: 50px;
        }
        h3 {
            color: $color-dark-blue;
        }
    }

    &_content {

        th {
            padding: 20px 0;
        }
        tr {
            height: 80px;
        }
        h4 {
            margin: 0;
            color: $color-grey;
        }
        i {
            font-size: 2rem;
            color: $color-grey;
        }
    }

    .download {
        &_button {
            margin: 20px;
            background-color: $color-dark-blue;
            padding: 15px 20px;
            border-radius: 20px;
            color: white;
            font-size: 20px;
            font-weight: 200;
            // &:after {
            //     content: "/images/icons/download-icon";
            //     display: inline-block;
            //     // transform: rotate(90deg);
            //     border: 1px solid $color-orange;
            //     background-color: $color-orange;
            //     color: $color-dark-blue;
            //     border-radius: 50%;
            //     margin-left: 10px;
            //     padding: 0 4px;
            //     // font-weight: bold;
            // }

            img {
                height: 25px;
                margin-left: 10px;
            }
        }
    }
}

.col {
    padding: 0;
}

.row {
    margin: 0;
}

.bandeau {
    display: flex;
    align-items: start;
    margin: auto;
    color: $color-dark-blue;
    background-color: $color-extralight;
    height: 600px;
    gap: 20px;
    padding: 150px 100px 0;

    h2 {
        font-size: 50px;
        font-weight: 400;
    }

    h3 {
        font-weight: 300;
        font-size: 20px;
    }

    button {
        color: white;
        background-color: $color-dark-blue;
        height: 60px;
        border-radius: 10px;
        border-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-top: 30px;

        img {
            margin: 0 10px;
        }

        h4 {
            margin: 0 10px;
        }
        // &:after {
        //     content: "→";
        //     margin-right: 10px;
        //     border: 1px solid $color-orange;
        //     background-color: $color-orange;
        //     color: $color-dark-blue;
        //     border-radius: 50%;
        //     margin-left: 30px;
        //     padding: 0 4px;
        //     // font-weight: bold;
        //}
    }

    :nth-child(1) {
        flex: 2;
    }

    &-element {
        flex: 1;
        background-color: white;
        border-radius: 10px;
        position: relative;
        height: 350px;
        padding-top: 90px;
        text-align: center;

        h4 {
            font-weight: 300;
        }

        img {
            position: absolute;
            transform: translate(-50%, -50%);
            top: -10px;
            left: 50%;
            font-size: 5rem;
        }

        ul {
            text-align: start;
            padding-left: 30px;
            margin: 0 20px;

            li {
                font-size: 14px;
                &:before {
                    content: "✓";
                    margin-right: 5px;
                }
            }
        }
    }
}

.rss{
    &_section {
        height: 400px;
        position: relative;
    }

    &_container {
    background-color: $color-purple;
    border-radius: 20px;
    color: white;
    padding: 50px 50px 50px 150px;
    width: 700px;
    position: absolute;
    right: 150px;

    > img {
        position: absolute;
        transform: translate(-50%, -50%);
        top: 50%;
        left: 0;
        height: 150px;
    }

    h3 {
        font-weight: 400;
        font-size: 40px;
    }

    button {
        color: $color-dark-blue;
        background-color: white;
        height: 50px;
        border-radius: 10px;
        border-style: none;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 20px;
        margin-top: 30px;

        img {
            margin: 0 10px;
        }

        h3 {
            margin: 0 10px;
        }
    }
}
}


.carousel {
    position: relative;
    width: 100%;
    // overflow: hidden;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    margin: 50px 0;

    button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: transparent;
        border: none;
    }

    button.prev {
        left: 350px;
        z-index: 10;
    }
    
    button.next {
        right: 350px;
        z-index: 10;
    }
}

.carousel-images {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 800px;
    height: 100%;
}

.carousel-images img {
    width: 100%;
    flex-shrink: 0;
}

.carousel-comment {
    width: 600px;
    flex-shrink: 0;
    margin: 0 100px;
    border-radius: 10px;
    padding: 20px;
    position: relative;
    height: 200px;
    background-color: white;

    &:before {
        content: "";
        width: 80px;
        height: 50px;
        border-radius: 40px;
        background-color: $color-orange;
        position: absolute;
        top: -20px;
        left: -40px;
        z-index: -1;
    }

    &:after {
        content: "";
        width: 80px;
        height: 50px;
        border-radius: 40px;
        background-color: $color-orange;
        position: absolute;
        bottom: -20px;
        right: -40px;
        z-index: -1;
    }
}


.userReviews {
    margin-top: 20px;
    overflow: hidden ;
    h2 {
        text-align: center;
        color: $color-dark-blue;
        font-size: 40px;
    }
}


// FOOTER //

.footer {
    background-color: $color-dark-blue;
    position: relative;
    min-height: fit-content;

    small {
        position: absolute;
        bottom: 10px;
        left: 20px;
    }

    &_links_block {
        display: flex;
        flex-direction: column;

        .footer_link {
            color: white;
            text-align: start;
            text-transform: uppercase;
            font-size: 24px;
            border-bottom: 1px solid white;

            a {
                color: white;
            }

            p {
                padding-top: 0;
                font-size: 14px;
                text-transform: none;
            }
        }
    }

    &_nav {
        .active {
            color: white;
        }
        
        a {
            color: $color-grey;
            font-size: 20px;
        }
    }
}


.tab input {
    position: absolute;
    opacity: 0;
    z-index: -1;

    &:checked~.tab__content {
        max-height: 10rem;
    }

    &:checked+.tab__label::after {
        transform: rotate(90deg);
    }
}

.tab__content {
    max-height: 0;
    overflow: hidden;
    transition: all 0.35s;
    margin-left: 70px;

    p {
        margin: 0;
        padding: 1rem;
    }
}

.accordion {
    color: var(--theme);
    overflow: hidden;
}

.tab__label,
.tab__close {
    display: flex;
    color: white;
    background: var(--theme);
    cursor: pointer;
}

.tab__label {
    justify-content: space-between;
    padding: 1rem;
    margin: 0;

    &::after {
        content: "\276F";
        width: 1em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
    }

    a img {
        margin-right: 30px;
    }
}

.tab__close {
    justify-content: flex-end;
    padding: 0.5rem 1rem;
    font-size: 0.75rem;
}

.accordion--radio {
    --theme: var(--secondary);
}


// ABOUT //

.about {

    &_header {
        li {
            margin-bottom: 30px;
        }
    }
    &_title {
        display: flex;
        align-items: start;
        gap: 20px;
        margin-bottom: 20px;

        h2 {
            color: $color-dark-blue;
            font-size: 50px;
            font-weight: 400;
        }
    }

    ul {
        margin-bottom: 50px;
        list-style-type: square;
    }

    li {
        color: $color-dark-blue;
        font-size: 20px;
        margin-left: 20px;

        &::marker {
            color: $color-grey;
        }
    }

    .big_button_orange {
        background-color: $color-orange;
        padding: 15px 20px;
        border-radius: 20px;
        color: white;
        font-size: 24px;
        &:after {
            content: "→";
            margin-right: 10px;
            border: 1px solid white;
            background-color: white;
            color: $color-dark-blue;
            border-radius: 50%;
            margin-left: 30px;
            padding: 0 4px;
            // font-weight: bold;
        }

    }
    
    &_banner {
        background-color: $color-purple;
        display: flex;
        padding: 20px 80px;
        gap: 40px;
        &_technology {
            background-color: white;
            border-radius: 40px;
            padding: 80px;
            color: $color-dark-blue;
            font-size: 20px;
            max-width: 600px;
            max-height: 550px;
        }

        &_medias {
            color: white;

            li {
                padding-left: 20px;
                &::marker {
                    color: $color-orange;
                    margin-right: 50px;
                }
            }
                

            a, a:visited, li {
                color: white;
            }

            a {
                text-decoration: underline;
            }
        }

        h2 {
            font-size: 60px;
            margin-bottom: 30px;
        }
    }

    .credits {
        padding: 0 100px;
        color: $color-dark-blue;
        margin-top: 40px;

        &:after {
            content: "";
            display: block;
            height: 2px;
            width: 100%;
            background-color: $color-dark-blue;
        }
        h2 {
            font-size: 60px;
            font-weight: 400;
        }

        ul {
            list-style-type: disc;
        }
        li {
            color: $color-orange;
            margin-top: 5px;

            &::marker {
                color: inherit;
            }
        }

        &_rightside {
            flex: 1.8;
            font-size: 20px;

            h3 {
                margin-bottom: 40px;
                font-size: 35px;
            }

            h4 {
                font-weight: 900;
            }
        }

        &_leftside {
            font-size: 20px;
            flex: 1.2;

            > p {
                font-weight: 600;
            }
        }
    }

    .userReviews {
        background-color: $color-extralight;
        margin-top: 0 !important;
    }
}

.financers_section {
    display: flex;
    padding: 0 100px;
    color: $color-dark-blue;
    
    div {
        flex: 1;
    }

    .financers {
        list-style-type: decimal;
        > li{
            margin-top: 30px;

            &::marker {
                color: $color-dark-blue;
                font-weight: bold;
            }

            > ul {
                list-style-type: disc;

                li, li::marker {
                    color: $color-orange;
                }
            }
        }
    }
}


// SUPPORT PAGE //

.thorium-support {
    color: $color-dark-blue;


    aside {
        // width: 1000px;
        padding-top: 150px;
        padding-left: 50px;
        margin-right: 50px;
        
        .td-sidebar__inner {
            background-color: $color-purple;
            color: white;
            border-radius: 20px;
            width: 350px;
            overflow: hidden;
            height: unset;

            .td-sidebar__search {
                background-color: $color-extralight;
            }

            .td-search {
                color: $color-grey;
                border-bottom: 1px solid $color-grey;
                margin: 0 20px;
                &__input {
                    width: 100%;
                    padding: 20px;
                    border: none;
                    box-shadow: none;

                    &:focus {
                        background-color: transparent !important;
                    }

                    input:after {
                        content: "→";
                        margin-right: 10px;
                        border: 1px solid $color-orange;
                        background-color: $color-orange;
                        color: $color-dark-blue;
                        border-radius: 50%;
                        margin-left: 30px;
                        padding: 0 4px;
                        // font-weight: bold;
                    }

                    &::placeholder {
                        color: $color-grey;
                    }
                }
            }

            a, a:visited {
                color: white;
                // font-weight: bold;
            }
        }

        .td-sidebar-nav {
            padding: 20px;

            .td-sidebar-link__page {
                font-weight: 500;
            }
        }

        .ul-2 { 
            padding-left: 0;
            li a:before {
            content: "\276F";
            width: 1em;
            height: 1em;
            text-align: center;
            margin-right: 10px;
        }
    }
    .td-sidebar-link__section {
        font-style: italic;
        font-weight: 400 !important;
    }

    .td-sidebar-nav__section .with-child {
        margin: 20px 0;
    }
    }

    p {
        font-size: 18px;
        font-weight: 300;

        b {
            font-weight: 500;
        }
    }
}