

.excerpt{
    font-size: 1.8em;
    line-height: 1.6em;
}
.centered{
    text-align: center;
    line-height: 1.6em;
}
.max{
    max-width: 1000px;
    margin: auto;
}
.une{
    max-width: 1000px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
margin-bottom: 3em;
}

.doc{
    max-width: 1000px;
    margin: auto;
margin-top: 3em;
text-align: center;
}

.abstract{
    line-height: 1.2em;
    font-size: 1em;

}

.links{
    text-decoration: underline ;
}

.left{
    display: inline;
    float: left;
    margin-right: 1em;
}

.right{
    display: inline;
    float: right;
}

.orange{
    font-weight: 600;
    color: aliceblue;
}

footer.bg-dark {
    background: var(--success) !important;
}

.td-navbar {
    background: var(--success) !important;
}

.td-content ul li, .td-content ol li {
      margin-top: 0.5rem;
      margin-left: 2rem;
  }

ul {
    padding-inline-start: 0;
}

@media (max-width: 768px) {
    .container {
        .lead,
        .mb-0 {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            .colonne33,
            .colonne50 {
                width: 100%;
                text-align: center;
            }
            .colonne66 {
                width: 100%;
            }
        }
    }
}

.sideright {
    height: 150px;
    > div {
        display: flex;
        justify-content: end;
        gap: 10px;
    }
}


.row{
    align-content: center;
}


section{
    margin: 0em ;
    padding: 0em;
}
hr{
    display: block;
    margin-block-start: 0.5em;
    margin-block-end: 0.5em;
    margin-inline-start: auto;
    margin-inline-end: auto;
    unicode-bidi: isolate;
    overflow: hidden;
    border-top-color: #4b80ff;
    border-width: 1px;
}

.listnone{
    list-style-type: none;
}

.txt-blck{
    color: #222;
}

.colonne50 {
    display: inline-block;
    vertical-align: top;
    width: 49%;
    padding: 20px;
    text-align: left;
  }

.colonne33 {
    display: inline-block;
    vertical-align: top;
    width: 30%;
    text-align: right;
    margin-right: 1em;
  }
.colonne66 {
    display: inline-block;
    vertical-align: top;
    width: 60%;
    margin-left: 1em;
    text-align: left;
}

.documents{
    padding-top: 6em;
}

kbd {
    color: #000 ! important;
    background-color: #f5f5f5 ! important;
    padding: 1px 2px;
    border: 1px solid #000;
    border-radius: 5px;
}


.wp-image-10520{
    float: left;
    margin-right: 1em;
}

.txt-dark{
   color: black ;
}

@media (min-width: 768px){
.td-navbar-cover {
    background: grey !important;
}
}

.orangelink{
    color: orange !important;
}

.gray{
    color: $gray;
}
