/*

Add styles or override variables from the theme here.

*/

$primary: #5994fb;
$secondary: #1d3e80;
$gray: #363636;

.wp-image-10520{
    float: left;
    margin-right: 1em;
}

.txt-dark{
   color: black ;
}

@media (min-width: 768px){
.td-navbar-cover {
    background: grey !important;
}
}

.orange{
    color: orange !important;
}

.gray{
    color: $gray;
}

/*f87300*/ 