/*

Add styles or override variables from the theme here.

*/

$primary: #5994fb;
$secondary: #1d3e80;

.wp-image-10520{
    float: left;
    margin-right: 1em;
}

.txt-dark{
   color: black ;
}

/*f87300*/ 