/*

Add styles or override variables from the theme here.

*/
.documents{
    padding-top: 6em;
}

kbd {
    color: #000 ! important;
    background-color: #f5f5f5 ! important;
    padding: 1px 2px;
    border: 1px solid #000;
    border-radius: 5px;
}

$secondary: #1d3e80;
$gray: #363636;

.wp-image-10520{
    float: left;
    margin-right: 1em;
}

.txt-dark{
   color: black ;
}

@media (min-width: 768px){
.td-navbar-cover {
    background: grey !important;
}
}

.orange{
    color: orange !important;
}

.gray{
    color: $gray;
}

/*f87300*/ 

// Theme colors

$primary: #ACC8E5 !default;
$primary-light: lighten($primary, 75%) !default;
$secondary: #FFA630 !default;
$success: #3772FF !default;
$info: #fff !default;
$warning: #ED6A5A !default;
$danger: #ED6A5A !default;
$white: #fff !default;
$light: #D3F3EE !default;

$dark: #403F4C !default;
$blue: #72A1E5 !default;
$orange: #BA5A31 !default;
$gray-100: #f8f9fa !default;
$gray-200: #eee !default;
$gray-300: #dee2e6 !default;
$gray-400: #ccc !default;
$gray-500: #adb5bd !default;
$gray-600: #797676 !default;
$gray-700: #495057 !default;
$gray-800: #333 !default;
$gray-900: #222 !default;
$black: #000 !default;

$code-color: darken($secondary, 20%) !default;