/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";


.center {
    text-align: center;
}

.right {
    text-align: right;
}

kbd {  border-radius: 2px;
    padding: 2px;
    border: 1px solid black;}

.icon {display: inline;}