/* You can add custom styles here. */

// @import "plugins/numbered";
// @import "plugins/scrollbars";


.center {text-align: center;}
.right {text-align: right;}
.icon {display: inline; margin-left: 6px;}

kbd {
    color: black;
    background-color: whitesmoke;
    padding: 1px 2px 1px 2px;
    border: 1px solid black;
    border-radius: 5px;
}


.book-hint {
    padding:10px 30px 10px 10px;
    border-left: 6px;
    border-top: 0px;
    border-bottom: 0px;
    border-right: 0px;
    border-radius: 10px;
    border-style: solid
    ;

}

@mixin theme-light {}

@mixin theme-dark {}

