---
title: About Thorium Reader
linkTitle: About
menu:
  main:
    weight: 10

---

{{< blocks/cover title="About Thorium Reader" image_anchor="bottom" height="min" >}}
A reading application for all readers
{{< /blocks/cover >}}


{{< blocks/section >}}

<div class="text-center">
<h1 >Why developing Thorium Reader?</h1>

<p>For a long time, there was no modern EPUB 3 compliant reading application usable on Windows, OSX and Linux, properly accessible for print disabled people, with a good support for the LCP DRM and capable of browsing OPDS catalogs.</p>
<p>EDRLab decided to build such an application and release it for free, in order to provide users a great way to enjoy on a large screen EPUB publications, comics / manga / bandes dessinées, audiobooks, LCP protected PDF documents.</p>
<p>Print disabled people now benefit from an EPUB 3 reading app which supports screen readers like Jaws and NVDA on Windows, Voice Over on Mac.</p>
<h3>Technology</h3>
<p>Thorium Reader is based on the set of open-source chrome-less modules, a toolkit named <a class="orange" href="https://www.edrlab.org/software/readium-desktop/">Readium Desktop</a>. Thorium Reader and Readium Desktop both rely on Electron.js, node.js and typescript, which are efficient cross-platform technologies. Thorium is also using React components based on HTML 5/CSS 3.</p>
</div>
{{< /blocks/section >}}




{{< blocks/section >}}
{{% blocks/feature icon="fab fa-app-store-ios" title="Learn more about Thorium Reader" %}}
<p>Daniel Weck made a presentation of the latest features of Thorium Reader during the <a class="orange" href="https://www.edrlab.org/events/digital-publishing-summit-2022/" target="_blank" rel="noopener">Digital Publishing Summit 2022</a>: here are the <a class="orange" href="https://docs.google.com/presentation/d/e/2PACX-1vTQvqZaRBQ_cOD4cWDo-juGkOUGrnw4Ky73DKGK4da_3lEstaEarvJaRrUl8850Y3Q3Ye7T-l0_7aPm/pub?start=false&amp;loop=false&amp;delayms=3000&amp;slide=id.p" target="_blank" rel="noopener">slides of his presentation</a>.</p>
{{% /blocks/feature %}}
{{% blocks/feature icon="fa fa-quote-left" title="Quotes" %}}
<blockquote><em>“I love Thorium and have introduced it to my students for reading any digital content. It is doubly good when something that makes reading more accessible for visually impaired people is also something that makes things more flexible for all. It makes it so much easier to get buy-in for using it.”</em> <br/> Suzanne Norman (Simon Frazer University, Canada)</blockquote>
<blockquote><em>“I am very happy to have found this app. Its simple, easy to use, and most importantly, its very friendly for people who are blind and visually impaired.”</em><br/>(Noberto, USA)</blockquote>
<blockquote><em>“I can’t get enough of this ebook reader its clean and simple makes things easier for me to read! thank you I totally recommend this!”</em><br/> (Gigi, USA)</blockquote>

{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-twitter" title="Media coverage"  %}}

<p><cite><a class="orange" href="https://accessinghigherground.org/introducing-thorium-a-new-free-desktop-epub-reader-for-windows-and-mac/" target="_blank" rel="noopener noreferrer">Introducing Thorium, a new free desktop EPUB reader for Windows and Mac</a></cite>, 24th Annual Accessing Higher Ground, November 2019, speakers Richard Orme (CEO) and George Kerscher (Chief Innovations Officer), DAISY Consortium.</p>
<p><cite><a class="orange" href="https://goodereader.com/blog/e-book-news/thorium-reader-is-a-free-cross-platform-ebook-reading-app" target="_blank" rel="noopener">Thorium Reader is a free cross-platform eBook reading app</a></cite>, May 2021, GoodEReader.</p>
<p lang="fr"><cite><a class="orange" href="https://www.actualitte.com/article/lecture-numerique/thorium-reader-une-application-de-lecture-pour-windows-macos-et-linux/98877" target="_blank" rel="noopener noreferrer">Thorium Reader, une application de lecture pour Windows, macOS et Linux</a></cite>, January 2020, Actualitté.</p>
<p lang="fr"><cite><a class="orange" href="http://www.lettresnumeriques.be/2020/03/06/le-logiciel-de-lecture-depub-pour-windows-macos-et-linux-thorium-reader-est-disponible/" target="_blank" rel="noopener noreferrer">Le logiciel de lecture d’ePub pour Windows MacOS et Linux, Thorium Reader, est disponible</a></cite>, March 2020, Lettresnumerique.be.</p>
<p lang="fr"><cite><a class="orange" href="https://www.actualitte.com/article/lecture-numerique/l-application-thorium-reader-peut-desormais-lire-les-livres-audio/100498" target="_blank" rel="noopener noreferrer">L’application Thorium Reader peut désormais lire les livres audio.</a></cite>, April 2020, Actualitté.</p>


{{% /blocks/feature %}}
{{< /blocks/section >}} 


