<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:epub="http://www.idpf.org/2007/ops" lang="en" xml:lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="stylesheet" type="text/css" href="{{EPUBRoot}}/resources/css/blitz-lite.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{EPUBRoot}}/resources/css/edrlabpublications.css"/>
    <link rel="stylesheet" type="text/css" href="{{EPUBRoot}}/resources/css/thdoc.css"/>
    {% block head %}{% endblock %}
  </head>
  <body>
    <section class="colbreak" {% if role %} role="{{ role }}" {% else %}{% endif %}>
      {% block content %}{% endblock %}
    </section>
  </body>
</html>
