
<section class="userReviews">
    <h2>User Reviews</h2>
    <div class="carousel">
      <button class="prev" onclick="prevSlide()">
        <img src="/images/icons/review-prev-icon.svg" alt="previous user review"/>
      </button>
      <div class="carousel-images">

        {{ range .Site.Params.reviews}}
        <div class="carousel-comment">
          <blockquote>
            <p>
              "{{ .content }}"
            </p>
            <footer><b>{{ .name}}, </b><cite>{{ .place}}</cite></footer>
          </blockquote>
        </div>
        {{ end }}
      </div>
      <button class="next" onclick="nextSlide()">
        <img src="/images/icons/review-next-icon.svg" alt="next user review"/>
      </button>
  </div>
  </section>
  
  <script>
  let currentIndex = 1;
  
  function showSlide(index) {
      const slides = document.querySelectorAll('.carousel-images div');
      if (index >= slides.length) {
          currentIndex = 0;
      } else if (index < 0) {
          currentIndex = slides.length - 1;
      } else {
          currentIndex = index;
      }
      const offset = -currentIndex * 100;
      document.querySelector('.carousel-images').style.transform = `translateX(${offset}%)`;
      console.log(index, currentIndex)
  }
  
  function nextSlide() {
      showSlide(currentIndex + 1);
  }
  
  function prevSlide() {
      showSlide(currentIndex - 1);
  }
  
  showSlide(currentIndex);
  </script>
